/venv
.env
__pycache__/
*/__pycache__


# Ignore all Python cache folders
__pycache__/

# (optional) Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# (optional) Ignore virtual environment folders
venv/
.env/
